<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyu.springboot.mapper.ArticleMapper">


    <resultMap id="ArticleInfoMap" type="com.xuyu.springboot.bean.ArticleInfo">
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="content_text" property="content_text" />
        <result column="cover" property="cover" />
        <result column="view_count" property="view_count" />
        <result column="update_time" property="update_time" />
        <result column="status" property="status" />
        <result column="type_id" property="type_id" />
        <result column="name" property="name" />
        <result column="stars" property="stars" />
        <result column="owner" property="owner"></result>
        <association property="user" javaType="com.xuyu.springboot.bean.User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>



    <select id="list" resultMap="ArticleInfoMap">
        SELECT
        ai.id,ai.owner,ai.title,ai.cover,ai.content_text,ti.name,ai.type_id,
        DATE_FORMAT(ai.update_time,'%Y-%m-%d') as update_time,
        ai.view_count,u.username,ai.status
        FROM
        Article_info ai,type_info ti,user u
        WHERE
        ai.type_id=ti.id
        and u.id=ai.owner
        <if test="owner!=null and owner!=''">and ai.owner=#{owner}</if>
        <if test="status!=null and status!=''">and ai.status=#{status}</if>
        <if test="typeId!=null and typeId!=''">and ai.type_id=#{typeId}</if>
        <if test="startDate!=null and startDate!=''">
            and ai.update_time between #{startDate} and #{endDate}
        </if>
        <if test="keyWord!=null and keyWord!=''">and ai.title like '%${keyWord}%'</if>
        ORDER BY ai.update_time DESC
    </select>

    <select id="getAIds" resultType="Integer">
        select id from article_info where status=1
    </select>


    <!-- 查询单个文章 -->
    <select id="selectById" resultMap="ArticleInfoMap">
		SELECT
			ai.id,ai.owner,ai.title,ai.cover,ai.content_text,ai.type_id,ai.content,ai.stars,
        DATE_FORMAT(ai.update_time,'%Y-%m-%d') as update_time,
        ai.view_count,u.username,ai.owner
		FROM
			 Article_info ai,type_info ti,user u
	   WHERE ai.id=#{id} and u.id=ai.owner and ai.status in (1,3)

	</select>


    <!-- 保存单个文章 -->
    <insert id="insert">
        INSERT INTO article_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type_id!=null and type_id!=''">type_id,</if>
            <if test="title!=null and title!=''">title,</if>
            <if test="content!=null and content!=''">content,</if>
            <if test="content_text!=null and content_text!=''">content_text,</if>
            <if test="cover!=null and cover!=''">cover,</if>
            <if test="view_count!=null and view_count!=''">view_count,</if>
            <if test="update_time!=null">update_time,</if>
            <if test="status!=null and status!=''">status,</if>
            <if test="owner!=null and owner!=''">owner,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type_id!=null and type_id!=''">#{type_id},</if>
            <if test="title!=null and title!=''">#{title},</if>
            <if test="content!=null and content!=''">#{content},</if>
            <if test="content_text!=null and content_text!=''">#{content_text},</if>
            <if test="cover!=null and cover!=''">#{cover},</if>
            <if test="view_count!=null and view_count!=''">#{view_count},</if>
            <if test="update_time!=null">#{update_time},</if>
            <if test="status!=null and status!=''">#{status},</if>
            <if test="owner!=null and owner!=''">#{owner},</if>
        </trim>
        <!-- <selectKey keyProperty="id" order="AFTER" resultType="String">
            得到刚insert到数据表中的记录的主键值，只适用于自增主键
            SELECT IDENT_CURRENT('article_info') AS id
        </selectKey> -->
    </insert>


    <!-- 更新文章 -->
    <update id="update">
        UPDATE article_info
        <set>
            <if test="type_id!=null and type_id!=''">type_id=#{type_id},</if>
            <if test="title!=null and title!=''">title=#{title},</if>
            <if test="content!=null and content!=''">content=#{content},</if>
            <if test="content_text!=null and content_text!=''">content_text=#{content_text},</if>
            <if test="cover!=null and cover!=''">cover=#{cover},</if>
            <if test="view_count!=null and view_count!=''">view_count=#{view_count},</if>
            <if test="update_time!=null">update_time=#{update_time},</if>
            <if test="status!=null and status!=''">status=#{status},</if>
        </set>
        WHERE id = #{id}
    </update>



    <!-- 文章批量移动保存到某个分类 -->
    <update id="updateTypeId">
        UPDATE article_info
        <set>
            <if test="typeId!=null and typeId!=''">type_id=#{typeId},</if>
        </set>
        WHERE id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>



    <select id="selectByIdList" resultMap="ArticleInfoMap">
          SELECT
        ai.id,ai.owner,ai.title,ai.cover,ai.content_text,ti.name,ai.type_id,
        DATE_FORMAT(ai.update_time,'%Y-%m-%d') as update_time,
        ai.view_count,u.username
        FROM
        Article_info ai,type_info ti,user u
        WHERE
        ai.type_id=ti.id
        and u.id=ai.owner and ai.status=1 and ai.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by
        field(
        ai.id,
        <foreach collection="list" index="index" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>


    <!-- 文章批量移动到回收站-->
    <update id="recycle_bin">
        UPDATE article_info
        <set>
            <if test="status!=null and status!=''">status=#{status},</if>
        </set>
        WHERE id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>



    <!-- 文章批量删除 -->
    <delete id="deleteit">
        DELETE FROM article_info WHERE id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

<update id="updateStatus">

    update article_info set status=#{status} where id=#{id}
</update>

<!--阅读量的增加-->
    <update id="addViewCount">
        update article_info set view_count=#{viewcount} where id=#{id}
    </update>



    <select id="getArticleNumberAndReadNumnerByTypeId" resultType="Map">
        select count(id) as artnum,sum(view_count) as viewnum ,count(DISTINCT(owner)) as authornum from article_info where type_id=#{id}
    </select>



    <update id="addstars">
        update article_info set stars=#{stars} where id=#{id}
    </update>


    <select id="beforestars" resultType="double">
        select stars from article_info where id=#{id}
    </select>

    <select id="selectAidByAuthorid" resultType="String">
        select id from article_info where owner=#{myid}
    </select>

    <select id="selectTypeIdByAid" resultType="Integer">
        select type_id from article_info where id=#{aid}
    </select>
    
    
    
    <select id="searchlist" resultMap="ArticleInfoMap">
            SELECT
        ai.id,ai.owner,ai.title,ai.cover,ai.content_text,ti.name,ai.type_id,
        DATE_FORMAT(ai.update_time,'%Y-%m-%d') as update_time,
        ai.view_count,u.username
        FROM
        Article_info ai,type_info ti,user u
        WHERE
        ai.type_id=ti.id
        and u.id=ai.owner
        and ai.id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and ai.status=1
        ORDER BY ai.update_time DESC

    </select>

</mapper>